* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #310;
  transition: background 0.2s ease;
}

.forth {
  display: flex;
  flex-direction: column-reverse;
}

.state {
  border-top: 1px solid #fff3;
  padding: 0px 6px 20px;
  right: 0;
  font-size: 14px;
  font-family: Iosevka SS11;
  color: #fffc;
}

.state > div {
  display: flex;
}

.state > div div {
  margin-right: 2em;
}

.state h3 {
  vertical-align: baseline;
  font-weight: 500;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: inline;
  opacity: 0.6;
}

#repl {
  background: none;
  color: #fffc;
  width: 100%;
}

.replInput {
  -webkit-appearance: none;
  border: 0;
  background: 0;
  outline: none;
  width: 100%;
  background: #fff1;
  padding: 5px 10px;
}

#repl * {
  color: #fffc;
  font-size: 24px;
  font-family: Iosevka SS11;
}

.historyItem {
  padding: 5px 10px;
}

.out {
  opacity: 0.6;
  padding-left: 10px;
  font-style: italic;
}
